.PF_Container {
    height: 100%;
    width: 100%;
    display: flex;

    .PF_Box {
        height: 92%;
        width: 90%;
        margin: auto;
        background: #FFFFFF;
        display: flex;
        flex-direction: column;
        overflow: hidden;


        h2 {
            text-align: center;
            padding: 0;
            width: 100%;
            background-color: rgba(81, 193, 132, 0.8);
            color: white;
            margin-top: 0;
            padding-top: 1.5%;
            padding-bottom: 1%;

        }

        .PF_Content {
            display: flex;
            flex-direction: column;
            margin: auto;
            height: 86%;
            width: 93%;
            border-radius: 7px;
            background: #FFFFFF;
            box-shadow: 0 25px 60px rgba(0, 0, 0, 0.10), 0 5px 6px rgba(0, 0, 0, 0.05);

            .PF_Input {
                display: flex;
                flex-direction: column;

                .poloOption_container {
                    width: 90%;
                    margin: auto;


                    .poloOptions__control {
                        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
                        cursor: pointer;

                        .poloOptions__indicators {
                            border-radius: 50%;
                            background: rgba(81, 193, 132, 0.4);
                            margin: 8px;

                            svg {
                                color: #51C184;
                            }

                            .poloOptions__indicator-separator {
                                display: none;
                            }
                        }
                    }

                    .poloOptions__option:hover {
                        color: white;
                        background-color: rgba(81, 193, 132, 0.5);
                        cursor: pointer;
                    }
                }
            }

            .PF_Info {
                display: flex;
                flex-direction: column;
                margin-top: auto;

                svg {
                    height: 20px;
                    padding: 6px;
                    border-radius: 50%;
                    background-color: rgba(81, 193, 132, 0.5);
                    color: #51C184;
                    margin-top: 2%;
                    margin-left: 5%;
                }

            }

            .PF_Buttons {
                display: flex;
                flex-direction: column;
                margin-top: auto;

                p {
                    cursor: pointer;
                    text-align: center;
                    padding: 4%;
                    border-radius: 3px;
                    background: #51C184;
                    color: white;
                    width: 60%;
                    margin-left: auto;
                    margin-right: auto;
                    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
                    transition: 0.15s ease-in;
                }

                p:active {
                    transition: 0.15s ease-in;
                    background: white;
                    color: #51C184;
                }
            }

        }
    }
}

@media only screen and (min-width: 640px) {
    .PF_Container {


        .PF_Box {
            height: 90%;
            width: 80%;

            .PF_Content {


                .PF_Input {
                    flex-direction: row;



                    .poloOption_container {
                        width: 45%;
                        margin-top: 5%;
                        margin-bottom: 0;

                    }
                }

                .PF_Buttons {
                    display: flex;
                    flex-direction: row;
                    width: 60%;
                    margin: auto;

                    p {
                        width: 30%;

                    }

                }

            }
        }
    }
}

@media only screen and (min-width: 1025px) {
    .PF_Container {


        .PF_Box {

            .PF_Content {


                .PF_Input {

                    .poloOption_container {

                    }
                }

                .PF_Buttons {

                    p {
                        transition: 0.3s ease-in;
                    }

                    p:hover {
                        transition: 0.3s ease-in;
                        background: white;
                        color: #51C184;
                    }
                }

            }
        }
    }

}