.PF_Container {
    height: 100%;
    width: 100%;
    display: flex;

    .PF_Box {
        height: 90%;
        width: 80%;
        margin: auto;
        background: #FFFFFF;
        display: flex;
        overflow: hidden;

        .PF_Content {
            flex-direction: row;
            margin: auto;
            height: 86%;
            width: 93%;
            border-radius: 7px;
            background: #FFFFFF;
            box-shadow: 0 25px 60px rgba(0, 0, 0, 0.10), 0 5px 6px rgba(0, 0, 0, 0.05);

            .poloOption_container {
                width: 40%;
                margin: auto;

                .poloOptions__control {
                    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

                    .poloOptions__indicators {
                        border-radius: 50%;
                        background: rgba(81, 193, 132, 0.4);
                        margin: 8px;

                        svg {
                            color: #51C184;
                        }

                        .poloOptions__indicator-separator {
                            display: none;
                        }
                    }
                }

                .poloOptions__option:hover {
                    color: white;
                    background-color: rgba(81, 193, 132, 0.6);
                }
            }

        }
    }
}