//container for the page
.Shopping_Container {
    height: 100%;
    width: 100%;
    display: flex;

    //container for heading and styling
    .Shopping_Box {
        height: 95%;
        width: 90%;
        margin: auto;
        background: #ffffff;
        display: flex;
        flex-direction: column;
        overflow: show;
        position: relative;

        h2 {
            text-align: center;
            padding: 0;
            width: 100%;
            background-color: #51c184;
            color: white;
            margin-top: 0;
            margin-bottom: 0;
            padding-top: 1.5%;
            padding-bottom: 1%;
        }

        .Shopping_Page_Container {
            display: flex;
            height: 100%;
            width: 100%;

            //page transitions
            .pageOne {
                transition: 0.35s ease-in-out;
                transform: translateX(0%);
            }

            .pageOne.hide {
                transform: translateX(-125%);
            }

            .pageTwo {
                transition: 0.35s ease-in-out;
                transform: translateX(0%);
            }

            .pageTwo.hide {
                transform: translateX(125%);
            }

            //contains contents/funtional components

            .Shopping_Content {
                display: flex;
                flex-direction: column;
                position: absolute;
                left: 0;
                right: 0;
                margin-left: auto;
                margin-right: auto;
                margin-top: 5%;
                height: 86%;
                width: 93%;
                border-radius: 7px;
                background: #ffffff;
                box-shadow: 0 25px 60px rgba(0, 0, 0, 0.1), 0 5px 6px rgba(0, 0, 0, 0.05);

                //containts input fields
                .Shopping_input_aligner {
                    display: flex;
                    flex-direction: column;
                    height: auto;
                    padding-top: 10%;
                    .Shopping_input_container {
                        display: flex;
                        flex-direction: column;
                        height: auto;
                        margin: auto;
                        .Shopping_input {
                            transition: 0.15s ease-in;
                            display: flex;
                            flex-direction: row;
                            margin-top: 4%;
                            margin-bottom: auto;
                            border: 1.5px solid #51c184;
                            border-radius: 5px;
                            input[type="number"],
                            select {
                                transition: 0.15s ease-in;
                                padding: 3%;
                                border: none;
                                flex-shrink: 1;
                                text-align: center;
                                box-sizing: border-box;
                            }
                            p {
                                margin: auto;
                            }
                        }

                    }

                    //constains discount list
                    .Discount_list {
                        margin: auto;
                        height: 100%;
                        border-radius: 5px;
                        padding: 2%;
                        h3 {
                        }
                        li {
                        }
                    }
                }

                //contains output field
                .Shopping_output {
                    display: flex;
                    margin: auto;
                    width: 95%;
                    border-bottom: 2px solid #51c184;
                    p {
                        width: auto;
                        margin: 0;
                        margin-right: auto;
                    }
                    .Shopping_item_total {
                        display: flex;
                        flex-grow: 1;
                        margin-right: 0;
                        margin-left: auto;
                        flex-direction: column;
                        p {
                            margin-left: auto;
                            margin-right: 0;
                            margin-top: 0;
                            margin-bottom: 0;
                        }
                        .Item_discount {
                            margin-top: 0;
                            margin-bottom: 0;
                            padding-bottom: 1%;
                        }
                    }
                }

                .Shopping_total {
                    display: flex;
                    flex-direction: column;
                    margin-top: auto;
                    p {
                        padding: 0;
                        margin: 0;
                        margin-top: 1%;
                        margin-right: auto;
                        margin-left: auto;
                    }
                }

                // Contains buttons
                .Shopping_Buttons {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: auto;
                    margin-top: auto;

                    p {
                        cursor: pointer;
                        text-align: center;
                        padding: 4%;
                        border-radius: 45px;
                        background: #51c184;
                        color: white;
                        width: 60%;
                        margin: 0;
                        margin-left: auto;
                        margin-right: auto;
                        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
                        transition: 0.15s ease-in;
                    }

                    p:active {
                        transition: 0.15s ease-in;
                        background: white;
                        color: #51c184;
                    }
                }
            }
        }
    }
}

//styling for tablets
@media only screen and (min-width: 640px) {
}

//styling for desktop
@media only screen and (min-width: 1025px) {
    .Shopping_Container {
        .Shopping_Box {
            .Shopping_Page_Container {
                .Shopping_Content {
                    margin-top: 1%;

                    .Shopping_input_aligner {
                        flex-direction: row-reverse;
                        margin: auto;
                        width: 60%;
                        height: 60%;
                        padding-top: 0%;

                        .Shopping_input_container {
                            height: 100%;
                            margin-top: 0;
                        }

                        .Discount_list {
                            margin: auto;
                            margin-top: 0;
                            h3 {
                            }
                        }

                        .Shopping_input:hover {
                            transition: 0.15s ease-in;
                            background: #51c184;
                            input[type="number"],
                            select {
                                transition: 0.15s ease-in;
                                background: #51c184;
                                color: white;
                            }
                            p{
                                color: white;
                            }
                        }
                    }

                    //contains output field
                    .Shopping_output {
                        width: 35%;
                        margin-bottom: 0;
                    }

                    // Contains buttons
                    .Shopping_Buttons {
                        p {
                            padding: 2%;
                            width: 20%;
                        }

                        p:hover {
                            transition: 0.15s ease-in;
                            background: white;
                            color: #51c184;
                        }
                    }
                }
            }
        }
    }
}
